@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

.container {
  max-width: 124rem;
  margin: 0 auto;
}

.page-padding {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.btn {
  @apply px-8 font-semibold rounded-lg h-10 capitalize;
}

.btn-full {
  @apply px-8 w-full font-semibold rounded-lg h-10 capitalize;
}

.login-bg {
  background-image: url('../src/assets/login.jpg');
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center center;
}

.landingpage-bg {
  background-image: url('../src/assets/hero1.jpg');
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center center;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid black;
  bottom: -8px;
  left: 50%;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #1f2937;
}

*::-webkit-scrollbar-thumb {
  border-radius: 80px;
  background-color: #a0a0a0;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}
